@model BellordPlants.mvc.Models.Question

@{
    ViewBag.Title = "Details";
}

<div class="hero-unit">

        <h3>@Html.DisplayFor(model => model.Title)</h3>

        <p class="lead">@Html.DisplayFor(model => model.Details)</p>
</div>

  
    <div id="answerssection">

        @Html.Action("_QuestionAnswers", "Answer", new { QuestionId = Model.QuestionId });

    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
